 .home .text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.nav{
    height: 50px;
    background: rgb(102, 0, 255);
}
.nav div{
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 25px;
    color: white;
}
.home .text-container{
	height: 250px;
	float: left;
}
.home .text-container form{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: rgb(102, 100, 255);
	list-style-type: circle;
    list-style-position: outside;
}
input.btntr{
	width: 100px;
	height: 30px;
	font-size: 20px;
	position: absolute;
	left: 25px;
}